export OP_ACCOUNT="my.1password.com"
export CLOUDFLARE_API_TOKEN=$(op read "op://bamv726zv6zbcfke3cnbwjtnuu/dwmhm2vouvrpbkuzai25ibcfse/apitoken" --account my.1password.com)
export CLOUDFLARE_ACCOUNT_ID=$(op read "op://bamv726zv6zbcfke3cnbwjtnuu/dwmhm2vouvrpbkuzai25ibcfse/accountid" --account my.1password.com)

eval "$(devenv direnvrc)"

use devenv
